.card {
    .card-image {
        height: 420px;
        overflow: hidden;
        img {
            width: 100%;
        }
        .card-title {
            width: 100%;
            background-color: rgba(0,0,0,0.6);
            padding: 10px;
            font-size: 16px;
            white-space: nowrap;
            overflow: hidden;
            text-overflow: ellipsis;
        }
    }
    .card-content{
        height: 150px;
    }
    .card-action {
        display: flex;
        flex-direction: row;
        justify-content: space-between;
        .fav-or-watch {
            color: #ffab40;
            cursor: pointer;
            font-size: 2em;
        }
    }
}

